.background {
  background-color: #13182a;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  @include z-index('background');
}

.background-img {
  background-image: 
    linear-gradient(to top, #13182a 1px, transparent 60%),
    url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  width: 100%;
  background-position: 0 bottom;
  
  @include mq('two-column') {
    background-position: 0 85%;
    height: 60%;
  }
}
