.content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
  
  @include mq('two-column') {
    display: grid;
    grid-template-areas:
      'header header'
      'states spinner'
      'empty spinner';
    grid-template-columns: 50% 50%;
    width: 90%;
    max-width: 55em;
    margin: 0 auto;
    height: 100%;
  }
}

.header {
  width: 100%;

  @include mq('two-column') {
    grid-area: header;
  }

  &__title {
    color: #fff;
    font-size: 1.5em;
    margin: 1em;
    font-weight: 300;
  }
}

.spinner-button-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.75s ease-in-out;
  border-radius: 0.35em;
  @include mq('two-column') {
    max-height: 10em;
    opacity: 0.5;
    grid-column-end: -1;
  }

  &--expand {
    max-height: 10em;
    @include mq('two-column') {
      opacity: 1;
    }
  }
}

.states-section {
  padding: 2em 0;
  width: 100%;
  transition: all 0.3s ease;

  flex-grow: 1;
  justify-self: end;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  @include mq('two-column') {
    grid-area: states;
    display: block;
  }
  
  &--hidden .state {
    color: #aaa;
    border-color: #aaa;

  }

  &--hidden .state--active {
    background-color: #aaa;
    color: #555;
  }
}



.states-section__text {
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
