.modal {
  background-color: #fff;
  border-radius: 0.35em;
  padding: 1em 0;
  box-shadow: 0 0 1em #0002;
  color: #555;
  max-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  transition-property: opacity transform;
  transform: translate3d(0, -0.5em, 0);
  
  &--open {
    opacity: 1;
    pointer-events: all;
    transform: translate3d(0, 0, 0);
  }

  &__overlay {
    height: 100%;
    margin: 1em 0;
    position: relative;
    overflow-y: hidden;
  }

  &__overlay::after,
  &__overlay::before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    width: 15em;
    height: 15em;
    background-color: #0005;
    margin: 0 auto;
    opacity: 0;
    transition: 0.3s ease opacity;
  }

  &__overlay::after {
    top: 0;
    box-shadow: 3em 3em 5em rgba(38, 59, 64, 0.36);
    transform: rotate(45deg) skew(-25deg, -25deg) translate(-18em, -18em);
    opacity: var(--top-opacity);
  }
  
  &__overlay::before {
    bottom: 0;
    box-shadow: -3em -3em 5em rgba(38, 59, 64, 0.36);
    transform: rotate(45deg) skew(-25deg, -25deg) translate(18em, 18em);
    opacity: var(--bottom-opacity);
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 0 1.5em;
  }
  
  &__title {
    flex-grow: 1;
    margin: 0.5em 0;
  }
  
  &__button {
    border: 0;
    background-color: #ddd;
    border-radius: 0.25em;
    padding: 0.5em 1em;
    transition: 0.3s ease background-color;
  }

  &__button:hover {
    cursor: pointer;
    background-color: #bbb;
  }

  &__body {
    margin-bottom: 1em;
    padding: 0 1.5em;
    overflow-y: auto;
    height: 100%;
  }
}
