.spinner {
  padding: 1.5em;
  display: table;
  margin: 0.75em;
  --rotate-time: 7s;
  --grow-time: 3.5s;
  justify-self: center;

  @include mq('very-tall') {
    margin-top: 5em;
    margin-top: calc(40vh - 14em);
  }

  @include mq('two-column') {
    margin-top: 0.75em;
  }
}

@keyframes border-change {
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.spinner__ring {
  border-radius: 50%;
  width: 15em;
  height: 15em;
  padding: 1.75em - (2 * 0.25em);
  border: 0.25em solid transparent;
  position: relative;
  transition: transform ease var(--grow-time);
  transform: scale(0.9);

  .spinner--grow & {
    transform: scale(1);
  }
  
  &::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 15em;
    width: 15em;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgb(126, 42, 235);
    clip-path: path('M120,0C53.73,0,0,53.73,0,120s53.73,120,120,120s120-53.73,120-120S186.27,0,120,0z M120,236C55.93,236,4,184.07,4,120 S55.93,4,120,4s116,51.93,116,116S184.07,236,120,236z');
    background-image:
      conic-gradient(#0dd7db 0deg,
      #14aace var(--spot1-angle, 180deg),
      #454a58 var(--spot1-angle, 180deg),
      #454a58 var(--spot2-angle, 180deg),
      #3b88fe var(--spot2-angle, 180deg),
      #947cfc 360deg);
    z-index: -2;
  }
  
  &::after {
    content: ' ';
    opacity: 0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 15em;
    width: 15em;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    clip-path: path('M120,0C53.73,0,0,53.73,0,120s53.73,120,120,120s120-53.73,120-120S186.27,0,120,0z M120,236C55.93,236,4,184.07,4,120 S55.93,4,120,4s116,51.93,116,116S184.07,236,120,236z');
    background-color: rgb(126, 42, 235);
    background-image:
      conic-gradient(#0dd7db 0deg,
      #14aace 180deg,
      #3b88fe 180deg,
      #947cfc 360deg);
    z-index: -1;
  }
  
  .spinner--border-animation &::after {
    animation: border-change 1s cubic-bezier(0.22, 0.61, 0.36, 1);    
  }
}

.spinner__wave {
  position: absolute;
  top: -0.2em;
  bottom: -0.2em;
  right: -0.2em;
  left: -0.2em;
  border-radius: 50%;
  border: 1px solid #fff;
  transition: var(--grow-time) ease;
  transition-property: transform, opacity;
  @include z-index('spinner-wave');
}

.spinner__wave:nth-child(1) {
  opacity: 0.2;
  transform: scale(1);

  .spinner--grow & {
    opacity: 0.1;
    transform: scale(1.15);
  }
}

.spinner__wave:nth-child(2) {
  transform: scale(1.15);
  opacity: 0.2;

  .spinner--grow & {
    transform: scale(1.3);
    opacity: 0;
  }
}

.spinner__wave:nth-child(3) {
  transform: scale(1.3);
  opacity: 0.1;

  .spinner--grow & {
    transform: scale(1.45);
    opacity: 0;
  }
}

.spinner__spot {
  position: absolute;
  width: 0.25em;
  height: 0.75em;
  border-radius: 1em;
  background-color: #fff;
  transition: transform 1s ease;
}

@mixin spot-position($angle, $spot-height) {
  $ring-height: 15em;
  $ring-border-width: 0.25em;

  $spot-upward-trasition: $spot-height/2 + $ring-border-width/2;
    
  $transfrom-origin-point: $ring-height/2 - $ring-border-width + $spot-upward-trasition;
  transform-origin: center $transfrom-origin-point;
  top: 0;
  left: 50%;
  transform: translate(-50%, -$spot-upward-trasition) rotate(-$angle);
}

.spinner__spot:nth-child(1) {
  @include spot-position(0deg, 0.75em);
}

.spinner__spot:nth-child(2) {
  @include spot-position(0deg, 0.75em);
}

.spinner__spot:nth-child(3) {
  @include spot-position(0deg, 0.75em);
}

.spinner__pointer {
  $size: 0.9em;
  @include spot-position(0deg, $size);
  position: absolute;
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 0 0.2em rgba(255, 255, 255, 0.2);

  .spinner--spin & {
    animation: rotating var(--rotate-time) linear infinite;
  }
}

@keyframes rotating {
  0% {
    @include spot-position(0deg, 0.9em);
  }
  
  100% {
    @include spot-position(-360deg, 0.9em);
  }
}

.spinner__content-outer {
  padding: 0.75em;
  width: 12em;
  height: 12em;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.spinner__content-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10.5em;
  height: 10.5em;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;

  &:hover {
    cursor: pointer;
  }
  
  .spinner--spin &:hover {
    cursor: auto;
  }
}

.spinner__content-text {
  transform: scale(1);
  transition: ease var(--grow-time), ease 0.2s;
  transition-property: transform, opacity;
  position: absolute;
  top: 0;
  bottom: 0;
  line-height: 2em;
  height: 2em;
  margin: auto;

  .spinner--grow & {
    transform: scale(0.9);
  }

  &--old {
    opacity: 1;
  }
  
  &--new {
    opacity: 0;
  }
  
  .spinner__content-inner--text-change &--old {
    opacity: 0;
  }
  
  .spinner__content-inner--text-change &--new {
    opacity: 1;
  }
}
