.states {
  list-style: none;
  margin: 1em 0;
  width: 100%;
  position: relative;
  padding: 0;

  display: flex;
  justify-content: center;

  
  &__wrapper {
    display: flex;
    overflow-x: auto;
    padding: 0.4em 1em 0.9em;

    @include mq('two-column') {
      overflow-x: visible;
      flex-flow: row wrap;
      gap: 1.1em 0;
      justify-content: center;
    }
  }

  &::after {
    content: ' ';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 5em;
    display: block;
    background-image: linear-gradient(90deg, transparent, #13182a);
    pointer-events: none;
    @include mq('two-column') {
      opacity: 0;
    }
  }

  &__state-wrapper {
    margin: 0 0.5em;
  }
}
